{% extends 'Base/base.html' %} {% load static %} {% block title %}Prestamos
{%endblock %} {% block content %}
<div class="container">
  <div class="row mt-3">
    <div class="col-md-9 mx-auto mb-5">
      <div class="row mt-3">
        <h2 class="fw-bold text-center py-5">Prestamos</h2>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p>{{form.as_p}}</p>
        <p>
          <input
            type="submit"
            class="btn btn-primary btn-block d-grid"
            value="Enviar"
          />
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
