{% extends 'Base/base.html' %} {% load static %} {% block title %}Prestamos
{%endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-mb-10">
      <div class="row mt-3">
        <h2 class="fw-bold text-center py-2">Prestamos</h2>
      </div>
      <form action="/loanreq/<acc>/loanend/" method="POST" class="card card-body">
        {% csrf_token %}
       
        <h1>Prestamos</h1>
        
          <label for="Tipo">Tipo de Prestamo:</label>
          <select class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Seleccione tipo de prestamo</option>
            <option value="1">Clasic</option>
            <option value="2">Black</option>
            <option value="3">Gold</option>
          </select>

          <label for="monto">Importe:</label>
          <input type="text" name="monto" placeholder="Importe" class="form-control mb-2">

          <label for="Fecha">Fecha:</label>
          <input type="text" name="fecha" placeholder="Fecha" class="form-control mb-2">

          <button type="button" class="btn btn-primary">Enviar</button>
      

      </form>
    </div>
  </div>
</div>
{% endblock %}
