{% extends 'Base/base.html' %} {% load static %} {% block title %}Clientes
{%endblock %}{% block content %}


<div class="container">
    <div class="row mt-3">
      <div class="col-md-11 mx-auto mb-5">
        <div class="row mt-5">


<h2 class="fw-bold text-center py-5">Cientes</h2>


<div class="card-group">
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Individual</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="card-link">Ver mas</a>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Familiar</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="card-link">Ver mas</a>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Empresas</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="card-link">Ver mas</a>
      </div>
    </div>
  </div>

{% endblock %}
